/* Altered Semantic Styles - - - - - - - - - - - - - - - - - - - - */

.ui.secondary.pointing.menu,
.ui.vertical.segment {
    border: none;
}

.ui.menu .item>img:not(.ui) {
    width: 25px;
}

.masthead.segment {
    min-height: 94vh;
}

@media only screen and (max-width: 700px) {
    .masthead.segment {
        min-height: 92vh;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.container {
        width: 95%;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .ui.container {
        width: 95%;
    }
}

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 95%;
    }
}

.ui.secondary.menu .item>img:not(.ui) {
    margin-top: 4px;
}

.ui.basic.button {
    background: #fff !important;
}

.ui.basic.buttons {
    margin-right: 11px;
}

.ui.basic.buttons div a {
    padding: 10px 35px;
    display: block;
    padding: 13px 35px 14px 35px;
}

.ui.basic.buttons .ui.button {
    padding: 0;
    margin-left: 0;
}

.masthead h1.ui.header {
    margin: 50px 0 20px 0;
    font-size: 40px;
}

.ui.info.message .header {
    display: inline;
}

.ui.message>:first-child {
    float: right;
    cursor: pointer;
}

.ui.red.button, .ui.red.buttons .button {
    float: right;
}

/* Custom Global - - - - - - - - - - - - - - - - - - - - */

html,
body {
    background-color: #fff;
}

/* Custom Typography - - - - - - - - - - - - - - - - - - - - */

a {
    color: #000;
}

dd {
    -webkit-margin-start: 0px;
}

.link-underline {
    position: relative;
}

.link-underline:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 55%;
    top: 60%;
    left: 0;
    background-color: #99ffa3;
    z-index: -1;
    -webkit-transition: 0.7s; /* Safari */
    transition: 0.7s;
}

.link-underline:hover:before {
    background-color: #fff;
    -webkit-transition: 0.7s; /* Safari */
    transition: 0.7s;
}

.header-sign-up {
    letter-spacing: 1px;
    font-size: 14px;
    margin-left: 30px;
}

.header-log-in {
    letter-spacing: 1px;
    font-size: 14px;
}

a:hover {
    color: #000;
}

/* Custom Header Elements - - - - - - - - - - - - - - - - - - - - */

.ui.menu .item>img:not(.ui).palm-tree-icon {
    width: 35px;
    height: 44px;
    display: none;
    margin-right: 20px;
}

.hamburger-icon {
    margin-top: 5px;
}

.logotype {
    color: #000;
    margin: 27px 0 0 0;
    font-size: 11px;
    font-weight: 300;
    display: none;
}

.secondary.pointing.menu .right.item {
    display: none;
}

@media (min-width: 700px) {
    .ui.menu .item>img:not(.ui).palm-tree-icon {
        display: block;
    }
    .hamburger-icon {
        display: none;
    }
    .logotype {
        font-size: 13px;
        margin: 8px 0 0 0;
        display: block;
    }
    .secondary.pointing.menu .right.item {
        display: inherit;
    }
}

/* Custom Footer - - - - - - - - - - - - - - - - - - - - */

.footer-container {
    max-width: 933px;
    margin: 0 auto;
    display: block;
}

.footer-year {
    padding-right: 20px;
}

footer {
    text-align: right;
    margin: 70px 0 20px 0;
    padding : 0 10px;
    position: relative;
    bottom: 0;
}

/*Custom Form Model - - - - - - - - - - - - - - - - - - - - */

.form-box {
    margin: 50px auto 0 auto;
    min-width: 310px;
    max-width: 450px;
    border-radius: 2px;
    padding: 20px 30px;
}

@media (min-width: 750px) {
    .form-box {
        padding: 40px 80px 60px 80px;
        border: 1px solid #e2e2e2;
        margin: 110px auto 0 auto;
    }
}

.form-box .basic.button.full-width {
    margin-top: 14px;
}

/*Custom Elements - - - - - - - - - - - - - - - - - - - - */

.full-width {
    width: 100%;
}

@media (min-width: 700px) {
    .flashes {
        padding: 0 18px;
    }
}

.user,
.post-title {
    color: darkblue;
}

.ui.feed .event {
    margin-top: 40px;
}

.subscribe {
    float: right;
}

.subsaiddit {
    margin-top: 40px;
}

@media (min-width: 700px) {
    .subsaiddit {
        margin-top: 100px;
    }
}
