{% macro render_post(post, loggedIn) %}
  <div>
      <div class="ui feed">
        <div class="event">
          <div class="label">
            <img src="/static/images/user-icon.png">
          </div>
          <div class="content">
            <div class="summary">
              <a class="user">{{ post.username }}</a>
              posted <a href="/s/{{ post.subsaiddit_title }}/{{ post.id }}" class="post-title">{{ post.title }}</a>
              in <a href="/s/{{ post.subsaiddit_title }}" class="post-title">{{ post.subsaiddit_title }}</a>
              <div class="date">
                {{ post.created.strftime('%Y-%m-%d %H:%M') }}
              </div>
            </div>
            <div class="meta">
              {{ post.text_content }}
            </div>
          </div>
        </div>
      </div>
      <div class="ui buttons">
          {% set votes = get_votes(post.id)%}
          {% set vote = get_votes(post.id, 0, True) %}
          <button class="ui green {% if not vote.up_down or not loggedIn %} basic {% endif %} button" id="up_{{ post.id }}_NULL" onclick="vote(true, '{{ post.id }}', null)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
          <button class="ui red {% if vote.up_down or not loggedIn %} basic {% endif %} button" id="down_{{ post.id }}_NULL" onclick="vote(false, '{{ post.id }}', null)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
      </div>
      <input class="ui green button" type=button value="Comment" onclick="window.location='/comment/{{ post.subsaiddit_title }}/{{ post.id }}/NULL'" />
      <input class="ui yellow button" type=button value=Favourite onclick="favouritepost('{{ post.id }}')">
      <input class="ui red button"type=button value=Delete onclick="deletepost('{{ post.id }}')">
  </div>
{% endmacro %}

{% macro render_comments(post, comments, loggedIn) %}
  <div class="ui comments">
  {% for comment in comments %}
    {{ render_comment (post, comment, loggedIn) }}
  {% endfor %}
  </div>
{% endmacro %}

{% macro render_comment(post, comment, loggedIn) %}
<div class="comment">
  <a class="avatar">
    <img src="/static/images/user-icon.png">
  </a>
  <div class="content">
    <a class="author">{{ comment.username }}</a>
    <div class="metadata">
      <span class="date">{{ comment.created.strftime('%Y-%m-%d %H:%M') }}</span>
    </div>
    <div class="text">
      {{ comment.text_content }}
    </div>
      <div>
        <div class="ui buttons">
            {% set votes = get_votes(post.id, comment.id) %}
            {% set vote = get_votes(post.id, comment.id, True) %}
            <button class="ui green {% if not vote.up_down or not loggedIn %} basic {% endif %} button" id="up_{{ post.id }}_{{ comment.id }}" onclick="vote(true, '{{ post.id }}', '{{ comment.id }}')"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
            <button class="ui red {% if vote.up_down or not loggedIn  %} basic {% endif %} button" id="down_{{ post.id }}_{{ comment.id }}" onclick="vote(false, '{{ post.id }}', '{{ comment.id }}')"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
        </div>
        <a href="/comment/{{ post.subsaiddit_title }}/{{ post.id }}/{{ comment.id }}'" class="reply">Reply</a>
      </div>
    {% set children = get_comments(post.id, comment.id) %}
    {% if children %}
      {{ render_comments(post, children, loggedIn) }}
    {% endif %}
  </div>
</div>
{% endmacro %}
