{% extends "layout.html" %}
{% block body %}
<div class="ui text container">
    <h1 class="ui header">
        {% if loggedIn %}
        Hello {{ session.user.username }}! 
        {% else %}
        Saiddit Homepage
        {% endif %}
    </h1>
    {% from "_posthelper.html" import render_post %}
    {% for post in posts %}
        {{ render_post(post, loggedIn) }}
    {% endfor %}
    {% if posts|length == 0 %}
      <h2>There are no posts to show.</h2>
    {% endif %}
</div>
{% endblock %}
