{% extends "layout.html" %}
{% block body %}
<div class="ui text container">
    <h1>{{ subsaiddit.subsaiddit_title }}
    {% if is_subscribed %}
      <input class="ui red button" type=button value="Unsubscribe" onclick="change_subscription(false, {{ subsaiddit.id}})">
    {% else %}
      <input class="ui green button" type=button value="Subscribe" onclick="change_subscription(true , {{ subsaiddit.id}})">
    {% endif %}
    </h1>
    <p>{{ subsaiddit.description }}</p>
    <hr>
    {% from "_posthelper.html" import render_post %}
    {% for post in posts %}
      {{ render_post(post, loggedIn) }}
    {% endfor %}
  <br>
  <hr>
  {% from "_formhelpers.html" import render_field %}
  <form method=post class="ui form" action="/s/{{ subsaiddit.subsaiddit_title }}">
  <dl>
    <h3>New Post</h3>
    {{ render_field(form.title) }}
    {{ render_field(form.text) }}
  </dl>
  <input class="ui button" type=submit value=Post>
  </form>
</div>
{% endblock %}
