{% extends "layout.html" %}
{% block body %}
<script type = "text/javascript" language = "javascript">
  function change_subscription(subscribe){
    var data = {};
    data['subscribe'] = subscribe;
    data['subsaiddit_id'] = {{ subsaiddit.id }};

    $.ajax({
      type : "POST",
      url : "/changesubscription",
      data: JSON.stringify(data, null, '\t'),
      contentType: 'application/json;charset=UTF-8',
      success: function(result) {
          alert("Subscription Updated");
          location.reload();
      }
    });
  };
</script>
<div class="ui text container">
  <h1>
    {% if is_subscribed %}
      <input type=button value=Unsubscribe onclick="change_subscription(false)">
    {% else %}
      <input type=button value=Subscribe onclick="change_subscription(true)">
    {% endif %}
    <br>
    {{ subsaiddit }}
    <hr>
    {% for post in posts %}
      {{ post }}
    {% endfor %}
  </h1>
</div>
  {% from "_formhelpers.html" import render_field %}

  <form method=post action="/s/{{ subsaiddit.subsaiddit_title }}">
  <dl>
    {{ render_field(form.title) }}
    {{ render_field(form.text) }}
  </dl>
  <p><input type=submit value=Post>
  </form>
{% endblock %}
