{% extends "layout.html" %}
{% block body %}
<script type = "text/javascript" language = "javascript">
  function vote(updown, postid, commentid){
    var data = {};
    data['postid'] = postid;
    data['commentid'] = commentid;
    data['updown'] = updown;

    $.ajax({
      type : "POST",
      url : "/vote",
      data: JSON.stringify(data, null, '\t'),
      contentType: 'application/json;charset=UTF-8',
      success: function(result) {
          alert(result);
      }
    });
  };

  function deletepost(postid){
    var data = {};
    data['postid'] = postid;

    $.ajax({
      type : "POST",
      url : "/deletepost",
      data: JSON.stringify(data, null, '\t'),
      contentType: 'application/json;charset=UTF-8',
      success: function(result) {
          alert(result);
          window.location.href = "/";
      },
      error: function(result) {
        alert(result.responseText);
      }
    });
  };

  function favouritepost(postid){
    var data = {};
    data['postid'] = postid;

    $.ajax({
      type : "POST",
      url : "/favouritepost",
      data: JSON.stringify(data, null, '\t'),
      contentType: 'application/json;charset=UTF-8',
      success: function(result) {
          alert(result);
      },
      error: function(result) {
        alert(result.responseText);
      }
    });
  };
</script>
<div class="ui text container">
  <h1>
    {{ subsaiddit }}
    <hr>
      {{ post }}
      <input type=button value=Upvote onclick="vote(true, '{{ post.id }}', null)">
      <input type=button value=Downvote onclick="vote(false, '{{ post.id }}', null)">
      <input type=button value="Comment" onclick="window.location='/comment/{{ subsaiddit_title }}/{{ post.id }}/NULL'" />
      <input type=button value=Delete onclick="deletepost('{{ post.id }}')">
      <input type=button value=Favourite onclick="favouritepost('{{ post.id }}')">
  </h1>
</div>
{% endblock %}
